/* universal selector will effect every single element on the page
has the lowest priority on the page */
* {
  /* border-top: 10px solid #1098ad; */
  /* gobal reset, usually the first thing that you should do */
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */

body {
  font-family: sans-serif;
  color: #444;
  position: relative;

  border-top: 10px solid #1098ad;
}

/* trick to center the whole page */
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto; /* same as above */
}

.main-header {
  background-color: #cecece;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px; /* same as above, shorthand padding:(top&bottom)(left&right) */
  margin-bottom: 60px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
} /* same as above */

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #cecece;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* SMALLER ELEMENTS */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li:last-child {
  margin-bottom: 0;
}

/* ids can only be used once */
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.related-bullet-points {
  list-style: none;
}

/* .first-li {
  font-weight: bold;
} */

/* using Pseudo class to select the first li element of it's parent element
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child() {
  font-size: 15px;
} 

article p:last-child {
  color: red;
}

*/

/* STYLING LINKS 

below targets all anchor tags that have hrefs */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

/* when hovering over anchor tag will emmit specified properties and values */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* when anchor tag is click */
a:active {
  background-color: black;
  font-style: italic;
}
/* LVAH - link, visited, hover, active */

.post-img {
  /* % will always stay 100% of the page even if the size moved */
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered; */
  margin-top: 10px;
  padding-right: 30px;

  /* display: block; renders our inline elements as block elements */
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

/* nav a:link,
nav p:link{
  font-size: 18px;
} */

.btn-like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
